body{

}

h5{
	text-align:center;
	font-family:Ariel;
}


header{ 
	top:0%;
	text-align: center;
	text-color:black;
}

header .row {
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  top : 0%;
  position: absolute;
}


.navbar-brand a {
  font-size: 25px;
  font-weight: 300;
  text-color: black;
  position: relative;
  text-decoration: none;
  padding-bottom: 25px;
 
}

   .navbar-brand a:hover {
       color: gold;
   }

.navbar{

	text-align: center;


}
.navbar ul{
  padding: 0px;
  list-style:none;
  float:left;
  width: 100%;
   justify-content: center;
  display: flex;
}
.navbar ul li {
  display: inline;

}

.navbar ul a {
       text-decoration:none;
       padding:5px 0;
       width:80px;
       float:left;
       border-left: 1px solid #fff;
       text-align:center;
}

   .navbar ul a:hover {
       color: gold;
   }

.fixed .brand-name a {
  color: #000;
}



.header navbar{
	text-align: center;

}
ul {
  list-style: none;
  font-size: 15px;
}
li 
{ 
  display: inline-block; 
  zoom: 1;
  *display: inline;
  padding:2px;
  text-decoration: none;
}
.home-page
{
  width:85%;
  margin: auto;
}

.home-page {
  display: flex;
}
.description-column {
  flex: 50%;
  padding: 10px;
 border-right: 1px solid;
        

   
}
.photo-column {
   flex: 50%;
  padding: 10px;
}


img {
      padding:5px;
    }
.gallery-page{
  width:85%;
  margin: auto;
 
}

.gallery-container{
   width:85%;
  margin: auto;
}
.videos{
margin:30px auto;

}
footer {
    padding: 50px 5px;
}

